<div class="container-homepage">
    <div id="maxallen">
        <div>
            <img src="img/MaxLogoA.png" width="250px">
        </div>
        <div>
            Max Allen
        </div>
    </div>
    <div id="sketch">
        <script src="js/home_sketch4.js"></script>
    </div>
</div>