<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div "container">
    <% include ../partials/nav.ejs %>
    <% include ../partials/maxallen.ejs %>
  </div>
</body>
</html>
