<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div "container">
    <% include ../partials/nav.ejs %>
    <% include ../partials/maxallen.ejs %>
    <div class = "sketch">
      <script src="js/home_sketch4.js"></script>
    </div>
  </div>
</body>
</html>
